#app {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
}

.container {
  max-width: $container-width-md;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $grid-breakpoint-lg) {
    max-width: $container-width-lg
  }

  &--fluid {
    max-width: 100%;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: $navbar-default-bg;
  color: #fff;

  @supports (display: grid) {
    grid-column: span 12;
  }
}

main {
  flex: 1 0 auto;
  padding-bottom: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  padding: 5px 0;
  background-color: $navbar-default-bg;
  color: #fff;

  a {
    color: inherit;
    text-decoration: underline;
  }

  @supports (display: grid) {
    grid-column: span 12;
  }
}

.grid-container {
  padding: 20px;
  max-width: $container-width-xl;
  margin: 0 auto;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    grid-column: span 12;
  }

  &--gutterless {
    padding-left: 0;
    padding-right: 0;
  }
}
