.welcome-bio {
  @supports (display: grid) {
    grid-column: span 12;

    @media (min-width: $grid-breakpoint-md) {
      grid-column: span 6;
    }
  }

  &__name {
    margin-top: 0;
  }
}

.welcome-photo {
  display: none;

  @media (min-width: $grid-breakpoint-md) {
    display: block;
  }

  @supports (display: grid) {
    grid-column: span 12;

    @media (min-width: $grid-breakpoint-md) {
      grid-column: span 6;
    }
  }

  &__avatar {
    height: 400px;
    overflow: hidden;

    img {
      @media (min-width: $grid-breakpoint-md) {
        max-height: 100%;
        margin: 0 auto;
        object-fit: contain;
      }
    }
  }
}

.welcome-bio-links {
  &__link {
    display: flex;
    padding: 20px;
    color: $link-color;
    background-color: #f9f9fa;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $color-white;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    p {
      display: inline-block;
      margin: 0;
      margin-left: 1rem;
      line-height: 24px;
    }

    @supports (display: grid) {
      grid-column: span 12;

      @media (min-width: $grid-breakpoint-md) {
        grid-column: span 6;
      }
    }
  }
}

.welcome-feed {
  @supports (display: grid) {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
}

.welcome-feed-blog,
.welcome-feed-masto {
  .blog-feed,
  .masto-feed {
    margin-top: 3rem;
    max-height: 600px;
    overflow-y: auto;
  }

  @supports (display: grid) {
    grid-column: span 12;

    @media (min-width: $grid-breakpoint-md) {
      grid-column: span 6;
    }
  }
}

.blog-feed {
  .article {
    &:first-of-type {
      margin-top: 0;
    }
  }
}
