{{ define "title" }}
  {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="home">
  <div class="grid-container welcome">
    <div class="welcome-bio">
      <h1 class="welcome-bio__name">Patrick McFarling</h1>
      <code>me@mushmouth.tech</code>

      <hr>

      <p>[insert bio and stuff here]</p>

      <div class="grid-container grid-container--gutterless welcome-bio-links">
        {{ range .Param "accounts" }}
          {{ if .url }}
          <a class="welcome-bio-links__link" href="{{ .url }}">
            <i data-feather="{{ .icon }}"></i>
            <p>{{ .name }}</p>
          </a>
          {{ else }}
          <span class="welcome-bio-links__link">
            {{ if .icon }}
            <i data-feather="{{ .icon }}"></i>
            {{ else if .iconpath }}
            <img src="{{ .iconpath | relURL }}" alt="Nintendo" height="24" style="margin: 0">
            {{ end }}
            <p>{{ .name }}</p>
          </span>
          {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="welcome-photo">
      <figure class="welcome-photo__avatar">
        <img src="{{ "/images/patrick.jpg" | relURL }}" alt="mushmouth">
      </figure>
    </div>
  </div>
  <div class="grid-container welcome">
    <div class="welcome-feed">
      <div class="welcome-feed-blog">
        <h1>Latest posts</h1>
        {{ range first 3 (.Site.Pages.ByPublishDate.Reverse) }}
          {{ if eq .Section "blog" }}
            <article class="article">
              <h2 class="article-title">{{ .Title }}</h2>
              <time class="article-meta" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "January 2, 2006" }}</time>
              <p>{{ .Summary }}</p>
              <p><a href="{{ .Permalink }}">Read more</a></p>
            </article>
          {{ end }}
        {{ end }}
      </div>
      <div class="welcome-feed-masto">
        <h1>Latest toots</h1>
        <p>TODO!</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
